{% extends 'sales/base.html' %}
{% load staticfiles %}
{% block breadcrumb %}
{% block extralinks %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
{% endblock %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'project_items:list_item_types' %}">Item Types</a></li>
    <li class="breadcrumb-item active">{% if item_type_obj %}Edit{% else %}Create{% endif %}</li>
  </ol>
</nav>
{% endblock %}
{% block content %}
<form id="add_form" method="POST" action='' novalidate enctype="multipart/form-data">
  <div class="overview_form_block row marl justify-content-center">
    <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          <div class="card-title text-center">
            {% if item_type_obj %}EDIT{% else %}CREATE{% endif %} Item Type
          </div>
          <div class="row marl no-gutters justify-content-center">
            <div class="col-md-6">
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <div class="row">
                    <div class="filter_col col-md-12">
                      <label for="exampleInputEmail1" class="required">Name{% if item_type_form.name.field.required %}<span
                          class="error">*</span>{% endif %}</label>
                      {{ item_type_form.name }}
                      <span class="error">{{ item_type_form.name.errors }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <div class="row">
                    <div class="filter_col col-md-12">
                      <label for="exampleInputEmail1" class="required">Is Active{% if item_type_form.is_active.field.required %}<span
                                class="error">*</span>{% endif %}</label>
                      {{ item_type_form.is_active }}
                      <span class="error">{{ item_type_form.is_active.errors }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--<div class="col-md-12">
              <div class="row marl buttons_row text-center form_btn_row">
                <div class="form-group">
                  <label for="exampleInputEmail1">Item Type Materials{% if item_type_form.item_type_materials.field.required %}<span
                      class="error">*</span>{% endif %}</label>
                  {{ item_type_form.item_type_materials }}
                  <span class="error">{{ item_type_form.item_type_materials.errors }}</span>
                </div>
              </div>
            </div>-->
            {% if item_type_obj %}
            <div class="col-md-12">
              <div class="row marl buttons_row text-center form_btn_row">
                <div class="filter_col col-md-12-p-0">
                  <div class="form-group" style="text-align: left!Important;">
                    <label for="staticEmail" class="col-sm-4 col-form-label">Item Type Material</label>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="filter_col col-md-12">
                        <table class="table table-hover" id="table_item_type_material" {% if item_type_obj.item_type_materials == "{}"  %}style="display:none"{% endif %}>
                          <thead>
                            <tr>
                              <th scope="col" width="15%">#</th>
                              <th scope="col" width="40%">Name</th>
                              <th scope="col" width="30%">Value Based Price</th>
                              <th scope="col" width="10%">Active</th>
                              <th scope="col" width="15%">Action</th>
                            </tr>
                          </thead>
                          <tbody>
   
                          </tbody>
                        </table>
                        <input id="id_item_type_materials" type="hidden" name="item_type_materials">
                        <span class="error">{{ item_type_obj.item_type_materials.errors }}</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="filter_col col-md-12">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">
                          Add Item Type Material
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
            <input type="hidden" id="save_new_form" name="savenewform">
            <div class="col-md-12">
              <div class="row marl buttons_row text-center form_btn_row">
                <button class="btn btn-default save" type="submit">Save</button>
                {% if not item_type_obj %}
                <button class="btn btn-success save savenew" type="submit">Save & New</button>
                {% endif %}
                <a  href="{% url 'project_items:list_item_types' %}"  class="btn btn-default clear"
                  id="create_item_type_cancel">Cancel</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</form>
{% if item_type_obj %}
<!-- Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Add Item Type Material</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form id="add_item_type_material_form">
        <div class="modal-body">
            <div class="col-md-12">
              <div class="row marl no-gutters justify-content-center" style="margin-top: 10px;">
                <div class="col-md-4">
                  <div class="filter_col col-md-12">
                    <div class="form-group">
                      <div class="row">
                        <div class="filter_col col-md-12">
                          <label for="exampleInputEmail1" class="required">Name
                            <span class="error_marker" style="color:red"> * </span>
                          </label>
                          <input type="text" id="add_item_type_material_name" placeholder="Name" class="form-control" required="" />
                          <span class="error"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% if request.user.role == "ADMIN" or request.user.is_superuser %}
                  <div class="form-group col-md-12">
                    <label for="inputZip">Value Based Price<span class="error_marker" style="color:red"> * </span></label>
                    <input type="number" name="value_based_price" class="form-control" placeholder="Value based price" required="" id="add_item_type_material_value_based_price">
                    <span class="error" id="id__price"></span>
                  </div>
                  {% endif %}
                </div>
                <div class="col-md-4">
                  <div class="filter_col col-md-12">
                    <div class="form-group">
                      <div class="row">
                        <div class="filter_col col-md-12">
                          <label for="exampleInputEmail1" class="required">Is Active</label>
                          <input type="checkbox" name="is_active" class="form-control" style="width:auto;" placeholder="Is active" id="add_item_type_material_is_active" checked="">
                          <input type="hidden" value="1" name="item_type">
                          <span class="error"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button id="create_item_type_material" class="btn btn-primary">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit Item Type Material</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="edit_item_type_material_form">
        <div class="modal-body">
            <div class="col-md-12">
              <div class="row marl no-gutters justify-content-center" style="margin-top: 10px;">
                <div class="col-md-4">
                  <div class="filter_col col-md-12">
                    <div class="form-group">
                      <div class="row">
                        <div class="filter_col col-md-12">
                          <label for="exampleInputEmail1" class="required">Name<span class="error">*</span></label>
                          <input type="text" name="name" class="form-control" placeholder="Name" required="" id="edit_item_type_material_name">
                          <span class="error"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% if request.user.role == "ADMIN" or request.user.is_superuser %}
                  <div class="form-group col-md-12">
                    <label for="inputZip">Value Based Price<span class="error_marker" style="color:red"> * </span></label>
                    <input type="number" name="value_based_price" class="form-control" placeholder="Value based price" required="" id="edit_item_type_material_value_based_price">
                    <span class="error" id="id__price"></span>
                  </div>
                  {% endif %}
                </div>
                <div class="col-md-4">
                  <div class="filter_col col-md-12">
                    <div class="form-group">
                      <div class="row">
                        <div class="filter_col col-md-12">
                          <label for="exampleInputEmail1" class="required">Is Active</label>
                          <input type="checkbox" name="is_active" class="form-control" style="width:auto;" placeholder="Is active" id="edit_item_type_material_is_active">
                          <input type="hidden" value="1" name="item_type">
                          <span class="error"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button id="edit_item_type_material" class="btn btn-primary">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Remove Modal -->
<div class="modal fade" id="removeModalCenter" tabindex="-1" role="dialog" aria-labelledby="removeModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="removeModalLongTitle">Alert</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        It will actually remove the item type material. Do you confirm to do this?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" style="background-color: #dc3545;border-color: #dc3545;">Remove</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
{% block js_block %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script type="text/javascript">
  console.log("{{ item_type_obj.item_type_materials }}");
  var curId=-1;
  $(".savenew").on('click', function (e) {
    e.preventDefault()
    $("#save_new_form").val('true')
    $('#add_form').submit()
  });
  $(document).ready(function () {
    initITM();
    updateITMTable();
  });

    $('#add_item_type_material_form').submit(function() { // catch the form's submit event
      /*$.ajax({ // create an AJAX call...
          data: $(this).serialize(), // get the form data
          type: $(this).attr('method'), // GET or POST
          url: $(this).attr('action'), // the file to call
          success: function(response) { // on success..
            console.log(response);
            addItemTypeMaterial(response.id);
          }
      });*/
      addItemTypeMaterial();
      return false;
  });

  $('#edit_item_type_material_form').submit(function() { // catch the form's submit event
      /*$.ajax({ // create an AJAX call...
          data: $(this).serialize(), // get the form data
          type: $(this).attr('method'), // GET or POST
          url: $(this).attr('action')+curId, // the file to call
          success: function(response) { // on success..
            console.log(response);
            updateItemTypeMaterial(response.id);
          }
      });*/
      updateItemTypeMaterial(curId);
      return false;
  });

  function decode(str) {
    str=str.replace(/&#(\d+);/g, function(match, dec) {
      return String.fromCharCode(dec);
    });
    return str.replace(/&quot;/g, '\\"');
  }

  var itm_str=decode("{{item_type_obj.item_type_materials}}").replaceAll("'",'"');
  $('#id_item_type_materials').val(itm_str);
  var itm;

  function initITM(){
    console.log(itm_str);
    if(itm_str=="None" || itm_str==""){
      itm=[]
    }
    else{
      itm=JSON.parse(itm_str);
    }
    console.log(itm);
  }

  function updateITMTable(){
    var tbody=$("#table_item_type_material tbody");
    var content="";
    if(Object.keys(itm).length==0){
      tbody.html("<td colspan='5'>There is no item material</td>");
    }
    else{
      var n=0;
      for(i in itm){
        content+="<tr id=\"row_{{ item_type_material_obj.id }}\">"+
                    "<th scope='row'>"+(parseInt(i)+1)+"</th>"+
                    "<td>"+itm[i].name+"</td>"+
                    "<td>"+itm[i].value_based_price+"</td>"+
                    "<td>"+itm[i].is_active+"</td>"+
                    "<td>"+
                      "<button type=\"button\" class=\"btn btn-success edit\" title=\"Edit\" id=\"editId_{{ item_type_material_obj.id }}\" data-toggle=\"modal\" data-target=\"#editModal\" data-editid=\""+i+"\" data-editname=\""+itm[i].name+"\" data-editvaluebasedprice=\""+itm[i].value_based_price+"\" data-editisactive=\""+itm[i].is_active+"\">"+
                          "<i class=\"fas fa-pencil-alt\"></i>"+
                      "</button>"+
                      "<button type=\"button\" class=\"btn btn-danger\" style=\"font-size: 0.85rem;font-weight: 600;background-color: #dc3545;border-color: #dc3545;\" id=\"removeId_"+i+"\" data-toggle=\"modal\" data-target=\"#removeModalCenter\" data-removeid=\""+i+"\">"+
                        "<i class=\"fas fa-trash-alt\"></i>"+
                      "</button>"+
                    "</td>"+
                  "</tr>";

      }
      tbody.html(content);
    }
    console.log(tbody);
  }

  function addItemTypeMaterial(id){

    document.getElementById("table_item_type_material").removeAttribute("style");
    var name=$('#add_item_type_material_name').val();
    var value_based_price=$('#add_item_type_material_value_based_price').val();
    var is_active=$('#add_item_type_material_is_active').is(':checked');
    itm.push({"name":name,"value_based_price":value_based_price,"is_active":is_active?"True":"False"});
    clearItemTypeMaterial();
    $("#id_item_type_materials").val(JSON.stringify(itm));
    updateITMTable();
    $('#addModal').modal('hide');
  }

  $('#editModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var id = button.data('editid') // Extract info from data-* attributes
    var name=button.data('editname')
    var value_based_price=button.data('editvaluebasedprice')
    var is_active=button.data('editisactive')
    var price=button.data('editprice')
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    var modal = $(this)
    curId=id
    modal.find('#edit_item_type_material_name').val(name)
    modal.find('#edit_item_type_material_value_based_price').val(value_based_price)
    modal.find('#edit_item_type_material_is_active').prop('checked', is_active=="True"?true:false);
    //modal.find('.btn-primary').attr('onclick','updateItemTypeMaterial('+id+')')
  })


  function updateItemTypeMaterial(id){
    
    var name=$('#edit_item_type_material_name').val();
    var value_based_price=$('#edit_item_type_material_value_based_price').val();
    var is_active=$('#edit_item_type_material_is_active').is(':checked');
    itm[id]={"name":name,"value_based_price":value_based_price,"is_active":is_active?"True":"False"};

    $("#id_item_type_materials").val(JSON.stringify(itm));
    updateITMTable();

    $('#editModal').modal('hide');
  }

  function clearItemTypeMaterial(){
    $('#add_item_type_material_name').val('');
    $('#add_item_type_material_value_based_price').val('');
    $('#add_item_type_material_is_active').prop('checked', true);
  }

  $('#removeModalCenter').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var id = button.data('removeid') // Extract info from data-* attributes
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    var modal = $(this)
    modal.find('.btn-danger').attr('onclick','removeItemTypeMaterial('+id+')')
  })

  function removeItemTypeMaterial(i){
      console.log(i);
      var tbody=$("#table_custom_property_formula tbody").parent();
      itm.splice(i,1);
      $("#id_item_type_materials").val(JSON.stringify(itm));
      updateITMTable();
      console.log(tbody.children().length);
      if(tbody.children().length<=0){

        tbody.parent().attr("style","display:none");
      }
      $('#removeModalCenter').modal('hide');
    }


</script>
{% endblock js_block %}