{% extends 'sales/base.html' %}
{% load staticfiles %}
{% block breadcrumb %}
{% block extralinks %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css"
  href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/start/jquery-ui.css" />
{% endblock %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'project_items:list_items' %}">Items</a></li>
    <li class="breadcrumb-item active">{% if item_obj %}Edit{% else %}Create{% endif %}</li>
  </ol>
</nav>
{% endblock %}
{% block content %}
<form id="add_form" method="POST" action='' novalidate enctype="multipart/form-data">
  <div class="overview_form_block row marl justify-content-center">
    <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          <div class="card-title text-center">
            {% if item_obj %}EDIT{% else %}CREATE{% endif %} Item
          </div>
          <div class="row marl no-gutters justify-content-center">
            <div class="col-md-6">
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <div class="row">
                    <div class="filter_col col-md-12">
                      <label for="exampleInputEmail1" class="required">Name{% if item_form.name.field.required %}<span
                          class="error">*</span>{% endif %}</label>
                      {{ item_form.name }}
                      <span class="error">{{ item_form.name.errors }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <div class="row">
                    <div class="filter_col col-md-12">
                      <label for="exampleInputEmail1" class="required">Is Active{% if item_form.is_active.field.required %}<span
                                class="error">*</span>{% endif %}</label>
                      {{ item_form.is_active }}
                      <span class="error">{{ item_form.is_active.errors }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <div class="row">
                    <div class="filter_col col-md-12">
                      <label for="exampleInputEmail1" class="required">Item Type{% if item_form.item_type.field.required %}<span
                          class="error">*</span>{% endif %}</label>
                      {{ item_form.item_type }}
                      <span class="error">{{ item_form.item_type.errors }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <div class="row">
                    <div class="filter_col col-md-12">
                      <label for="exampleInputEmail1" class="required">Value Based Price{% if item_form.value_based_price.field.required %}<span
                                class="error">*</span>{% endif %}</label>
                      {{ item_form.value_based_price }}
                      <span class="error">{{ item_form.value_based_price.errors }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 mt-5">
              <div class="form-group">
                <label for="staticEmail" class="col-sm-4 col-form-label">Item Properties</label>
              </div>
              <div class="form-group" style="display: flex">
                <div class="col-sm-10">
                  <!-- <input type="text" class="form-control" id="staticEmail" placeholder="santhrao N"> -->
                  <select id="select_item_properties" class="assigned_users form-control" multiple>
                    {% for item_property in item_properties %}
                    <option value="{{item_property.id}}">
                      {{item_property.symbol}} ({{item_property.name}})</option>
                    {% endfor %}
                  </select>
                  <select name="item_properties" id="id_item_properties" class="assigned_users form-control" style="display:none" multiple>
                    {% for item_property in item_properties %}
                    <option value="{{item_property.id}}"></option>
                    {% endfor %}
                  </select>
                  <span class="error" id="id__item_properties">{{ form.item_properties.errors }}</span>
                </div>
                <div class="col-sm-2 pl-0">
                  <div class="row marl buttons_row form_btn_row text-center">
                    <button type="button" class="btn btn-default save" id="add_item_property" onclick="addItemPropertyToItem()">Add</button>
                  </div>
                </div>
              </div>
              <div class="form-group" id="div_item_properties" style="display: none;">
                <label class="col-sm-4 col-form-label">Item Properties</label>
                <table class="table table-hover" id="table_item_properties">
                  <thead>
                    <tr>
                      <th scope="col" width="15%">#</th>
                      <th scope="col" width="40%">Name</th>
                      <th scope="col" width="30%">Symbol</th>
                      <th scope="col" width="15%">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>  
              </div>
              

            </div>

            <div class="col-md-12">
              <div class="row marl buttons_row text-center form_btn_row">
                <div class="filter_col col-md-12">
                  <div class="form-group" style="text-align: left!Important;">
                    <label for="exampleInputEmail1" class="required">Item Formula</label>
                  </div>
                  <div clss="form-group">
                    <div class="row">
                      <div class="filter_col col-md-12">
                        <table class="table table-hover" id="table_item_formula" {% if item_objs.item_formula == "{}" %}style="display:none"{% endif %}>
                          <thead>
                            <tr>
                              <th scope="col" width="10%">#</th>
                              <th scope="col" width="30%">Name</th>
                              <th scope="col" width="30%">Formula</th>
                              <th scope="col" width="10%">Active</th>
                              <th scope="col" width="20%">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                          </tbody>
                        </table>
                        <input id="id_item_formulas" type="hidden" name="item_formulas">
                      </div>
                    </div>
                    <div class="row">
                      <div class="filter_col col-md-12">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">
                          Add Item Formula
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <input type="hidden" id="save_new_form" name="savenewform">
            <div class="col-md-12">
              <div class="row marl buttons_row text-center form_btn_row">
                <button class="btn btn-default save" type="submit">Save</button>
                {% if not item_obj %}
                <button class="btn btn-success save savenew" type="submit">Save & New</button>
                {% endif %}
                <a  href="{% url 'project_items:list_items' %}"  class="btn btn-default clear"
                  id="create_item_cancel">Cancel</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</form>

<!-- Add Formula Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Add Item Formula</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="add_item_formula_form">
        <div class="modal-body" style="display: flex;">
            <div class="col-md-7">
              <div class="row marl no-gutters justify-content-center" style="margin-top: 10px;justify-content: space-between!Important;">
                <div class="col-md-8">
                  <div class="filter_col col-md-12">
                    <div class="form-group">
                      <div class="row">
                        <div class="filter_col col-md-12">
                          <label for="exampleInputEmail1" class="required">Name<span class="error">*</span></label>
                          <input type="text" name="name" class="form-control" placeholder="Name" required="" id="add_item_formula_name">
                          <span class="error"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="filter_col col-md-12">
                    <div class="form-group">
                      <div class="row">
                        <div class="filter_col col-md-12">
                          <label for="exampleInputEmail1" class="required">Is Active</label>
                          <input type="checkbox" name="is_active" class="form-control" style="width:auto;" placeholder="Is active" id="add_item_formula_is_active" checked="">
                          <span class="error"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row marl no-gutters justify-content-center" style="margin-top: 10px;">
                <div class="col-md-12">
                  {% if request.user.role == "ADMIN" or request.user.is_superuser %}
                  <div class="form-group col-md-12">
                    <label for="inputZip">Formula<span class="error_marker" style="color:red"> * </span></label>
                    <textarea name="formula" class="form-control" placeholder="Formula" required="" id="add_item_formula_formula"></textarea>
                    <span class="error" id="id__item_formula_formula"></span>
                    <!-- <input type="text" class="form-control" id="inputZip" placeholder="5:31"> -->
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="col-5">
              <div class="row marl no-gutters justify-content-center" style="margin-top: 10px;justify-content: space-between!Important;">
                <div class="col-md-12">
                  <div class="filter_col col-md-12">
                    <div class="form-group">
                      <div class="row">
                        <div class="filter_col col-md-12">
                          <label for="exampleInputEmail1" class="required"><i><b>Formula Hints</b></i></label>
                          <p style="word-break:break-all;">
                            <b><u>Variable List</u></b><br/>
                            <span id="var_list"></span>
                            <a style="color: blue;text-decoration: underline;" onClick="insertVarToFormula('add_item_formula_formula','value_based_price')">"value_based_price"</a><br/>
                            <a style="color: blue;text-decoration: underline;" onClick="insertVarToFormula('add_item_formula_formula','material.value_based_price')">"material.value_based_price"</a><br/>
                          </p>
                          <span style="color:red;"><i><u>*Please usa a double quote(") to quote the variable symbol in formula</u></i></span>
                          <table>
                            <tr><td><b><u>Operator</u></b><br/></td><td></td></tr>
                            <tr><td>Add:</td><td>+</td></tr>
                            <tr><td>Minus:</td><td>-</td></tr>
                            <tr><td>Multiply:</td><td>*</td></tr>
                            <tr><td>Divide:</td><td>/</td></tr>
                            <tr><td>Exponent:</td><td>^</td></tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button id="create_item_formula" class="btn btn-primary">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit Item Formula</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="edit_item_formula_form">
        <div class="modal-body" style="display:flex;">
            <div class="col-md-7">
              <div class="row marl no-gutters justify-content-center" style="margin-top: 10px;justify-content: space-between!Important;">
                <div class="col-md-8">
                  <div class="filter_col col-md-12">
                    <div class="form-group">
                      <div class="row">
                        <div class="filter_col col-md-12">
                          <label for="exampleInputEmail1" class="required">Name<span class="error">*</span></label>
                          <input type="text" name="name" class="form-control" placeholder="Name" required="" id="edit_item_formula_name">
                          <span class="error"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="filter_col col-md-12">
                    <div class="form-group">
                      <div class="row">
                        <div class="filter_col col-md-12">
                          <label for="exampleInputEmail1" class="required">Is Active</label>
                          <input type="checkbox" name="is_active" class="form-control" style="width:auto;" placeholder="Is active" id="edit_item_formula_is_active" checked="">
                          <span class="error"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row marl no-gutters justify-content" style="margin-top: 10px;">
                <div class="col-md-12">
                  {% if request.user.role == "ADMIN" or request.user.is_superuser %}
                  <div class="form-group col-md-12">
                    <label for="inputZip">Formula<span class="error_marker" style="color:red"> * </span></label>
                    <textarea name="formula" class="form-control" placeholder="Formula" required="" id="edit_item_formula_formula"></textarea>
                    <span class="error" id="id__edit_item_formula_formula"></span>
                    <!-- <input type="text" class="form-control" id="inputZip" placeholder="5:31"> -->
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="row marl no-gutters justify-content-center" style="margin-top: 10px;justify-content: space-between!Important;">
                <div class="col-md-12">
                  <div class="filter_col col-md-12">
                    <div class="form-group">
                      <div class="row">
                        <div class="filter_col col-md-12">
                          <label for="exampleInputEmail1" class="required"><i><b>Formula Hints</b></i></label>
                          <p style="word-break:break-all;">
                            <b><u>Variable List</u></b><br/>
                            <span id="edit_var_list"></span>
                            <a style="color: blue;text-decoration: underline;" onClick="insertVarToFormula('edit_item_formula_formula','value_based_price')">"value_based_price"</a><br/>
                            <a style="color: blue;text-decoration: underline;" onClick="insertVarToFormula('edit_item_formula_formula','material.value_based_price')">"material.value_based_price"</a><br/>
                          </p>
                          <span style="color:red;"><i><u>*Please usa a double quote(") to quote the variable symbol in formula</u></i></span>
                          <table>
                            <tr><td><b><u>Operator</u></b><br/></td><td></td></tr>
                            <tr><td>Add:</td><td>+</td></tr>
                            <tr><td>Minus:</td><td>-</td></tr>
                            <tr><td>Multiply:</td><td>*</td></tr>
                            <tr><td>Divide:</td><td>/</td></tr>
                            <tr><td>Exponent:</td><td>^</td></tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button id="edit_item_formula" class="btn btn-primary">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Remove Modal -->
<div class="modal fade" id="removeModalCenter" tabindex="-1" role="dialog" aria-labelledby="removeModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="removeModalLongTitle">Alert</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        It will actually remove the item formula. Do you confirm to do this?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" style="background-color: #dc3545;border-color: #dc3545;">Remove</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block js_block %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.js"></script>
<script src="https://malsup.github.io/jquery.form.js"></script>
<script type="text/javascript">
  var curId=-1;

  var ip_data={}; //item properties data of this item

  var ip_all=[]; // all item properties

  var ipSet=new Set(); //check item properties duplication

  var if_str=decode("{{item_obj.item_formulas}}").replaceAll("'",'"');
  $('#id_item_formulas').val(if_str);
  var _if;

  //init

  /*$('form#add_form').ajaxForm({
      type: 'POST',
      dataType: 'json',
      url: ".",
      data: $('#add_form').serialize(),
      success: function (data) {
        if (data.error) {
          console.log($('#add_form').serialize());
          console.log(data)
          $('.error').html('')
          for (var key in data.errors) {
            $('#id__' + key).html("<p>" + data.errors[key][0] + "</p>");
          };
          for (var key in data.from_address_errors) {
            $('#id__' + key).html("<p>" + data.from_address_errors[key][0] + "</p>");
          };
          for (var key in data.to_address_errors) {
            $('#id__' + key + '_').html("<p>" + data.to_address_errors[key][0] + "</p>");
            console.log($('#id__' + key + '_'))
          };
          $('#submit_btn').removeAttr('disabled')
        }
        else {
          console.log($('#add_form').serialize());
          //window.location = data.success_url;
        }
      }
    });*/

  function insertVarToFormula(myField, myValue) {
    //IE support
    if (document.selection) {
        document.getElementById(myField).focus();
        sel = document.selection.createRange();
        document.execCommand("insertText", false, "\""+myValue+"\"");
        //sel.text = "\""+myValue+"\"";
    }
    //MOZILLA and others
    /*else if (document.getElementById(myField).selectionStart || document.getElementById(myField).selectionStart == '0') {
        var startPos = document.getElementById(myField).selectionStart;
        var endPos = document.getElementById(myField).selectionEnd;
        document.getElementById(myField).value = document.getElementById(myField).value.substring(0, startPos)
            + "\""+myValue+"\""
            + document.getElementById(myField).value.substring(endPos, document.getElementById(myField).value.length);
    }*/ else {
        document.getElementById(myField).focus();
        document.execCommand("insertText", false, "\""+myValue+"\"");
    }
  }


  $(".savenew").on('click', function (e) {
    e.preventDefault()
    $("#save_new_form").val('true')
    $('#add_form').submit()
  });


  $(document).ready(function () {
    $('#select_item_properties').select2();
    initIPChoice();
    initIPTable();
    initIF();
    updateIFTable();
  });

  function decode(str) {
    str=str.replace(/&#(\d+);/g, function(match, dec) {
      return String.fromCharCode(dec);
    });
    return str.replace(/&quot;/g, '\\"');
  }

  function formulaChecker(text){
    //text="{\"formula\":\""+(text.replaceAll("\"","\\\""))+"\"}";
    console.log(text);
    if(text.includes("Value_Based_Price")){
      return false;
    }
    text=text.replace(/".*?"/g,0);
    //text=text.replace(/'.*?'/g,0);
    console.log(text);
    try{
      if(isNaN(parseInt(eval(text))))
          return false;
      else 
        return true;
    }
    catch(e){
        console.log("error");
        return false;
    }
   // return false;
    /*if (/^[\],:{}\s]*$/.test(text.replace(/\\["\\\/bfnrtu]/g, '@').
      replace(/"[^"\\\n\r]*"|true|false|null|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?/g, ']').
      replace(/(?:^|:|,)(?:\s*\[)+/g, ''))) {

        return true;

      }else{

        //the json is not ok
        return false;
      }*/
  }

  function initIF(){
    if(if_str=="None" || if_str==""){
      _if=[]
    }
    else{
      _if=JSON.parse(if_str);
      console.log(_if);
    }
    {% if not item_obj %}
    _if=[{"name": "Suggested Unit Price", "formula": "\"value_based_price\"+\"material.value_based_price\"", "is_active": "True"},{"name": "Suggested Quantity", "formula": "1", "is_active": "True"}]
    $("#id_item_formulas").val(JSON.stringify(_if));
    {% endif %}
  }

  function initIPChoice(){
    //item properties loop
    {% for ip in item_properties %}
      ip_all["{{ip.id}}"]={"id":"{{ip.id}}","name":"{{ip.name}}","symbol":"{{ip.symbol}}"};
    {% endfor %}

    console.log(ip_all);
  }

  function initIPTable(){

      {% for ip in item_obj.item_properties.all %}
        ip_data["{{ip.id}}"]={"id":"{{ip.id}}","name":"{{ip.name}}","symbol":"{{ip.symbol}}"};
      {% endfor %}

      console.log(ip_data);

      var tbody=document.getElementById("table_item_properties").getElementsByTagName("tbody")[0];
      if(Object.keys(ip_data).length>0)
        document.getElementById("div_item_properties").removeAttribute("style");
      
      keys=Object.keys(ip_data);
      for(var i=0;i<keys.length;i++){
        ipSet.add(ip_data[keys[i]]["id"]);
        tbody.innerHTML+=
          "<tr id='row_"+ip_data[keys[i]]["id"]+"'>"+
            "<th scope='row'>"+(i+1)+"</th>"+
            "<td>"+ip_data[keys[i]]["name"]+"</td>"+
            "<td>"+ip_data[keys[i]]["symbol"]+"</td>"+
            "<td><button type='button' class='btn btn-danger' style='font-size: 0.85rem;font-weight: 600;background-color: #dc3545;border-color: #dc3545;' id='dataId_"+ip_data[keys[i]]["id"]+"' onclick='removeItemPropertyFromItem("+ip_data[keys[i]]["id"]+")'>X</button></td>"+
          "</tr>";
      }

        
      
      updateItemPropertiesValue();
    }

  function updateIFTable(){
    console.log(_if);
    var tbody=$("#table_item_formula tbody");
    var content="";
    if(Object.keys(_if).length==0){
      tbody.html("<td colspan='5'>There is no item formula</td>");
    }
    else{
      for(i in _if){
        content+="<tr id=\"row_"+(parseInt(i)+1)+"\">"+
                    "<th scope='row'>"+(parseInt(i)+1)+"</th>"+
                    "<td>"+_if[i].name+"</td>"+
                    "<td>"+_if[i].formula+"</td>"+
                    "<td>"+_if[i].is_active+"</td>"+
                    "<td><button type=\"button\" class=\"btn btn-success edit\" title=\"Edit\" id=\"editId_"+i+"\" data-toggle=\"modal\" data-target=\"#editModal\" data-editid=\""+i+"\" data-editname=\""+_if[i].name+"\" data-editformula='"+_if[i].formula+"' data-editisactive=\""+_if[i].is_active+"\"><i class=\"fas fa-pencil-alt\"></i></button> <button type=\"button\" class=\"btn btn-danger\" style=\"font-size: 0.85rem;font-weight: 600;background-color: #dc3545;border-color: #dc3545;\" id=\"removeId_"+i+"\" data-toggle=\"modal\" data-target=\"#removeModalCenter\" data-removeid=\""+i+"\"><i class=\"fas fa-trash-alt\"></i></button></td>"+
                  "</tr>"
      }
      tbody.html(content);
    }
    console.log(tbody);
  }

//Item Properties Function Start

function addItemPropertyToItem(){
  var selectItemProperties = $("#select_item_properties");
  var propertiesId=selectItemProperties.val();
  console.log(propertiesId);
  for(var i=0;i<propertiesId.length;i++){
    var cur=ip_all[propertiesId[i]];
    console.log(cur);
    if(!ipSet.has(cur["id"])){
      ipSet.add(cur["id"]);
      ip_data[cur["id"]]={"id":cur["id"],"name":cur["name"],"symbol":cur["symbol"]};
      document.getElementById("div_item_properties").removeAttribute("style");

      var tbody=document.getElementById("table_item_properties").getElementsByTagName("tbody")[0];
      tbody.innerHTML+=
      "<tr id='row_"+cur["id"]+"'>"+
          "<th scope='row'>"+(Object.keys(ip_data).length)+"</th>"+
          "<td>"+cur["name"]+"</td>"+
          "<td>"+cur["symbol"]+"</td>"+
          "<td><button type='button' class='btn btn-danger' style='font-size: 0.85rem;font-weight: 600;background-color: #dc3545;border-color: #dc3545;' id='dataId_"+cur["id"]+"' onclick='removeItemPropertyFromItem("+cur["id"]+")'>X</button></td>"+
        "</tr>";
    }
    
  }
  $('#select_item_properties').val('').change();
  console.log(ip_all);
  updateItemPropertiesValue();
}

    function removeItemPropertyFromItem(id){
      console.log(id);

      ipSet.delete(id.toString());
      delete ip_data[id];

      console.log(ip_data);
      //
      var tbody=$("#table_item_properties tbody");
      $("#table_item_properties tbody #row_"+id).remove();

      
      console.log(tbody.children().length);
      if(tbody.children().length<=0){
        console.log(tbody.parent().parent());
        tbody.parent().parent().attr("style","display:none");
      }
      updateItemPropertiesValue();
    }

function updateItemPropertiesValue(){
  console.log(ipSet);
  if(ipSet.size>0){
    $("#id__item_properties").html("");
  }
  $("#id_item_properties").val([...ipSet]);
  var var_list="";
  var edit_var_list="";
  for (const [key, value] of Object.entries(ip_data)){
      var_list+="<a style=\"color: blue;text-decoration: underline;\" onClick=\"insertVarToFormula('add_item_formula_formula','"+value.symbol+"')\">"+"\""+value.symbol+"\"</a><br/>";
      edit_var_list+="<a style=\"color: blue;text-decoration: underline;\" onClick=\"insertVarToFormula('edit_item_formula_formula','"+value.symbol+"')\">"+"\""+value.symbol+"\"</a><br/>";
  }
  $("#var_list").html(var_list);
  $("#edit_var_list").html(edit_var_list);
  console.log("item_properties_value: "+$("#id_item_properties").val());
  console.log([...ipSet]);
}


//Item Properties Function End


    $('#add_item_formula_form').submit(function() { // catch the form's submit event
      /*$.ajax({ // create an AJAX call...
          data: $(this).serialize(), // get the form data
          type: $(this).attr('method'), // GET or POST
          url: $(this).attr('action'), // the file to call
          success: function(response) { // on success..
            console.log(response);
            addItemFormula(response.id);
          }
      });*/
      addItemFormula();
      return false;
  });

  $('#edit_item_formula_form').submit(function() { // catch the form's submit event
      /*$.ajax({ // create an AJAX call...
          data: $(this).serialize(), // get the form data
          type: $(this).attr('method'), // GET or POST
          url: $(this).attr('action')+curId, // the file to call
          success: function(response) { // on success..
            console.log(response);
            updateItemFormula(response.id);
          }
      });*/
      updateItemFormula(curId);
      return false;
  });

  //Item Formula Start

  function addItemFormula(id){

    document.getElementById("table_item_formula").removeAttribute("style");
    var name=$('#add_item_formula_name').val();
    var formula=$('#add_item_formula_formula').val();
    if (!formulaChecker(formula)){
        $('#id__item_formula_formula').html("There is error(s) in formula.");
        return;
    }
    else{
      $('#id__item_formula_formula').html("");
    }
    var is_active=$('#add_item_formula_is_active').is(':checked');
    _if.push({"name":name,"formula":formula,"is_active":is_active?"True":"False"});
    clearItemFormula();
    $("#id_item_formulas").val(JSON.stringify(_if));
    updateIFTable();
    $('#addModal').modal('hide');
  }

  $('#editModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var id = button.data('editid') // Extract info from data-* attributes
    var name=button.data('editname')
    var formula=button.data('editformula')
    var is_active=button.data('editisactive')
    var price=button.data('editprice')
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    var modal = $(this)
    curId=id
    modal.find('#edit_item_formula_name').val(name)
    modal.find('#edit_item_formula_formula').val(formula)
    modal.find('#edit_item_formula_is_active').prop('checked', is_active=="True"?true:false);
    //modal.find('.btn-primary').attr('onclick','updateItemFormula('+id+')')
  })


  function updateItemFormula(id){
    var name=$("#edit_item_formula_name").val();
    var formula=$("#edit_item_formula_formula").val();
    var is_active=$("#edit_item_formula_is_active").is(':checked');
    if (!formulaChecker(formula)){
        $('#id__edit_item_formula_formula').html("There is error(s) in formula.");
        return;
    }
    else{
      $('#id__edit_item_formula_formula').html("");
    }
    _if[id]={"name":name,"formula":formula,"is_active":is_active?"True":"False"};
    $("#id_item_formulas").val(JSON.stringify(_if));
    updateIFTable();
    $('#editModal').modal('hide');
  }

  function clearItemFormula(){
    $('#add_item_formula_name').val('');
    $('#add_item_formula_formula').val('');
    $('#add_item_formula_is_active').prop('checked', true);
  }

  $('#removeModalCenter').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var id = button.data('removeid') // Extract info from data-* attributes
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    var modal = $(this)
    modal.find('.btn-danger').attr('onclick','removeItemFormula('+id+')')
  })

  function removeItemFormula(id){
      console.log(id);
      var tbody=$("#table_item_formula tbody").parent();
      _if.splice(id,1);
      $("#id_item_formulas").val(JSON.stringify(_if));
      updateIFTable();
      console.log(tbody.children().length);
      if(tbody.children().length<=0){
        tbody.parent().attr("style","display:none");
      }
      $('#removeModalCenter').modal('hide');
    }

//Item Formula End
</script>
{% endblock js_block %}