<table class="table">
  <thead>
    <tr>
      <th width="50%">
        <a href='#'>
        Name
        </a>
        <span class="caret"></span>
      </th>
      <th>
        <a href="#">
        Item Type
        </a>
      </th>
      <th>
        <a href="#">
        Value Based Price
        </a>
      </th>
      <th>
        <a href="#">
        Active
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    {% ifequal items|length  0 %}
    <tr>
      <td class="cell">
        NO ITEMs FOUND!!
      </td>
    </tr>
    {% endifequal %}
    {% for item in items %}
    <tr>
      <td class="cell">
        <a class="cell parentname" id="{{ item.id }}">
        {{ item.name }}
        </a>
      </td>
      <td class="cell">
        <a class="cell parentname">
        {{ item.item_type }}
        </a>
      </td>
      <td class="cell">
        <a class="cell parentname">
        {{ item.value_based_price }}
        </a>
      </td>
      <td class="cell parentemail">
        {{ item.is_active }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>