{% extends 'root.html' %}

{% block main_menu %}
<ul class="navbar-nav mr-auto">
  {% if request.user.is_superuser or request.user.role == 'ADMIN' or request.user.has_sales_access %}
  <li class="nav-item"><a class="nav-link" id="dashboard" href="{% url 'common:home' %}">Dashboard</a></li>
  <li class="nav-item"><a class="nav-link" id="users" href="{% url 'common:users_list' %}">Users</a></li>
  <li class="nav-item dropdown">
    <a href="#" class="dropdown-toggle abcd nav-link" id="items" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      Room
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="{% url 'rooms:list_room_properties' %}">Room Properties</a>
      <a class="dropdown-item" href="{% url 'rooms:list_room_types' %}">Room Types</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a href="#" class="dropdown-toggle abcd nav-link" id="items" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      Project Related
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="{% url 'project_items:list_item_properties' %}">Item Properties</a>
      <a class="dropdown-item" href="{% url 'project_items:list_item_types' %}">Item Types</a>
      <a class="dropdown-item" href="{% url 'project_items:list_items' %}">Items</a>
      <a class="dropdown-item" href="{% url 'project_misc:list_miscs' %}">Misc</a>
      <a class="dropdown-item" href="{% url 'project_expenses:list_expense_types' %}">Expense Type</a>
    </div>
  </li>
  <li class="nav-item"><a class="nav-link" id="companies" href="{% url 'companies:list' %}">Companies</a></li>
  {% endif %}

</ul>
{% endblock %}