{% extends 'sales/base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block extralinks %} 
<style>
  .text_ellipsis {
    width: 16em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>
{% endblock %}
{% block content %}
{% load common_tags %}
<!-- <a href="{% url "common:logout" %}"><button class="btn btn-primary" type="button">Logout</button></a> -->
<div class="row marl justify-content-center">
  <div class="col-md-9">
    <!-- count_blocks_row starts here -->
    <div class="row count_blocks_row" style="justify-content: center">
      <div class="col-md-3">
        <div class="item yellow">
          <a href="{% url 'common:users_list'%}">
            <div class="title">Users</div>
            <div class="count">{{users|length}}</div>
            <!-- <div class="more"><a href="#">Go Live</a></div> -->
          </a>
        </div>
      </div>
     <div class="col-md-3">
        <div class="item sky_blue">
          <a href="{% url 'companies:list'%}?br_approved=False">
            <div class="title">Companies need BR Approval</div>
            <div class="count">{{companies_need_approve|length}}</div>
            <!-- <div class="more"><a href="#">Go Live</a></div> -->
          </a>
        </div>
      </div>
    </div>
    <!-- count_blocks_row ends here -->
    <div class="open_sections row">
      <div class="col-md-6 table_container_row">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <span>Recent Users</span>
            </div>
            <div class="table-responsive">
              {% if users %}
              <table class="table" style="table-layout: fixed;">
                <colgroup>
                  <col style="width:30%">
                  <col style="width:30%">
                  <col style="width:40%">
                </colgroup>
                <thead>
                  <tr>
                    <th>Username</th>
                    <th>Display Name</th>
                    <th>Date Joined</th>
                  </tr>
                </thead>
                <tbody>
                  {% for user in users|slice:"10" %}
                  <tr>
                    <td>
                      <div class="text_ellipsis">
                      <a href="{% url 'common:view_user' user.id %}">{{user.username}}</a>
                    </div></td>
                    <td>
                      <span>
                        {{user.display_name}}
                      </span>
                    </td>
                    <td>
                      <span>{{user.date_joined}}</span>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              {% else %}
              <p style="text-align:center">There are no records</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 table_container_row">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <span>Recent Companies</span>
            </div>
            <div class="table-responsive">
              {% if companies %}
              <table class="table" style="table-layout: fixed;">
                <colgroup>
                  <col style="width:20%">
                  <col style="width:20%">
                  <col style="width:20%">
                  <col style="width:40%">
                </colgroup>
                <thead>
                  <tr>
                    <th width="30%">Name</th>
                    <th width="20%">Owner</th>
                    <th width="20%">BR Approved</th>
                    <th width="30%">Created On</th>
                  </tr>
                </thead>
                <tbody>
                  {% for company in companies|slice:"10" %}
                  <tr>
                    <td>
                      <div class="text_ellipsis">
                      <a href="{% url 'companies:view_company' company.id %}">{{company.name}}</a>
                    </div>
                    </td>
                    <td>
                      <span>
                        <a href="{% url 'common:view_user' company.owner.id %}">
                          {{company.owner.username}}
                        </a>
                      </span>
                    </td>
                    <td>
                      <span>{{company.br_approved}}</span>
                    </td>
                    <td>
                      <span>{{company.created_on}}</span>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              {% else %}
              <p style="text-align:center">There are no records</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>

{% endblock %}
{% block js_block %}
<script type="text/javascript">

  $(document).ready(function () {
    $(".tag_class_opp").click(function () {
      // $(".tag_class_opp").css('cursor', 'pointer')
      url = "{% url 'opportunity:list' %}"
      url = url + "?tag=" + $(this).attr('data-link')
      window.location.href = url;
    });

    $(".tag_class_acc").click(function () {
      // $(".tag_class_acc").css('cursor', 'pointer')
      url = "{% url 'companies:list' %}"
      url = url + "?tag=" + $(this).attr('data-link')
      window.location.href = url;
    });

  });

</script>
{% endblock js_block %}