{% load staticfiles %}
{% load thumbnail %}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
</head>
<body style="
    font-family: Microsoft JhengHei;
">

  <table style="width:100%;">

    <thead>
      <tr>
        <td>
          <!--place holder for the fixed-position header-->
          <div class="page-header-space"></div>
        </td>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <!--*** CONTENT GOES HERE ***-->
          <div style="margin: 0 0.05in;"> 
            <table style="width:100%">
              <tbody>
                <tr style="vertical-align: text-top;">
                  <td>
                    <table style="margin-left: 0; margin-right: auto;">
                    <tr> <td class="first_td">No.</td><td>A-20200713</td></tr>
                    <tr><td class="first_td">Co</td><td>:</td></tr>
                    <tr><td class="first_td">To</td><td>: {{project.customer.name}}</td></tr>
                    <tr><td class="first_td">From</td><td>: {{company.owner.first_name}} {{company.owner.last_name}}</td></tr>
                    <tr><td class="first_td">Ref</td><td>: 工程地點<br>: {% if project.work_location %}{{project.work_location}},&nbsp;{% endif %}{{project.get_district_display}}</td></tr>
                    </table>
                  </td>
                  <td>
                    <table style="margin-right: 0; margin-left: auto;">
                      <tr><td class="first_td">&nbsp;</td></tr>
                      <tr><td class="first_td">Date</td><td>: {{date}}</td></tr>
                      <tr><td class="first_td">Job No</td><td id="job_no_content"></td></tr>
                      <tr><td class="first_td">&nbsp;</td></tr>
                      <tr><td class="first_td">&nbsp;</td></tr>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <hr size="3" style="color: black;background: black;">
            <table style="width:100%">
              <colgroup>
                <col span="1" style="width: 70%;">
                <col span="1" style="width: 30%;">
              </colgroup>
              <thead>
                <tr><td>Description</td><td class="item_value">Amount (HK$)</td></tr>
              </thead>
              <tbody>
                <tr><td class="item_name">Total Contract Sum</td><td class="item_value">437,000</td></tr>
                <tr><td class="item_name">Our Quotation No.Q-200206b dated :9 APR 2020</td></tr>
                <tr><td class="first_td">&nbsp;</td></tr>
                <tr><td class="item_name">1st Payment=10%(Deposit paid upon signing the quotation)</td><td class="item_value">43,700</td></tr>
                <tr style=""><td></td><td><div style="border-top:1px solid;border-bottom:1px solid;width: 70%;margin-right: 0;margin-left: auto;"><table style="width:100%;"><tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Total: </td><td style="text-align: right;">17,500</td></tr></table></div><div style="margin-top:2px;border-top:1px solid;width: 70%;margin-right: 0;margin-left: auto;"></div></td></tr>
              </tbody>
            </table>
            <br>
            <div>
              <span style="white-space: pre-line;">
                Remarks: All payment must be  paid by crossed cheque to "{{company.name}}" Or Bank-In to XXXXXXX

                Total due in 15 days. Overdue accounts subject to a service charge of 1% per month 
              </span>
            </div>
            <br>
            <br>
            <div>
              <table style="width: 100%;">
                <colgroup>
                  <col span="1" style="width: 60%;">
                  <col span="1" style="width: 40%;">
                </colgroup>
                <tbody>
                  <tr>
                    <td>
                      <span style="white-space: pre-line;font-weight: bold;">
                        For and on behalf of
                        {{ company.name }}
                      </span>
                    </td>
                  </tr>
                  <tr style="height:150px; vertical-align: bottom;">
                    <td>
                      {% if company.logo_pic %}
                          {% thumbnail company.logo_pic "125x125" as im %}
                          <img src="\app/{{ im.url }}">
                          {% endthumbnail %}
                      {% endif %}
                    </td>
                    <td>
                      
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div style="width:46.47%;border-top:1px solid;text-align: left;">Authorized Signature</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</body>
<script>
  function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
  }

  function getGetOrdinal (n) {
    var s=["th","st","nd","rd"],
      v=n%100;
    return n+(s[(v-20)%10]||s[v]||s[0]);
  }

  function prependZero(digit,number) { 
    var str="";
    for(var i=0;i<digit-number.toString().length;i++){
      str+="0";
    }
    str+=number.toString();
    return str;
  }

  (function(){
    var job_no_content=": J"+prependZero(4,{{project.job_no}});

    document.getElementById("job_no_content").innerHTML=job_no_content;
  })();
</script>
<style>
/* Styles go here */

.page {
  page-break-after: always;
}

tr{
  vertical-align: text-top;
}

 thead{
  font-weight: bold; text-decoration:underline;
 }

 th{
  font-weight: bold;
 }

.first_td{
  padding-right: 50px;
}
.underline{
  text-decoration:underline;
}
.item_name{
  text-align: left;
}
.item_index{
  text-align: center;
}
.item_value{
  text-align: right;
}
@page {
  margin: 20mm
}

@media print {
   thead {display: table-header-group;} 
   tfoot {display: table-footer-group;}
   
   button {display: none;}
   
   body {margin: 0;}
}
</style>
</html>