{% load staticfiles %}
{% load thumbnail %}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
</head>
<body style="
    font-family: Microsoft JhengHei;
">

  <table style="width:100%">

    <thead>
      <tr>
        <td>
          <!--place holder for the fixed-position header-->
          <div class="page-header-space"></div>
        </td>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <!--*** CONTENT GOES HERE ***-->
          <div style="margin: 0 0.05in;"> 
            <table style="width:100%">
              <tbody>
                <tr style="vertical-align: text-top;">
                  <td>
                    <table style="margin-left: 0; margin-right: auto;">
                    <tr> <td class="first_td">No.</td><td>A-20200713</td></tr>
                    <tr><td class="first_td">Co</td><td>:</td></tr>
                    <tr><td class="first_td">To</td><td>: Calvin</td></tr>
                    <tr><td class="first_td">From</td><td>: {{company.owner.name}}</td></tr>
                    <tr><td class="first_td">Ref</td><td>: 工程地點<br>: {% if project.work_location %}{{project.work_location}},&nbsp;{% endif %}{{project.get_district_display}}</td></tr>
                    </table>
                  </td>
                  <td>
                    <table style="margin-right: 0; margin-left: auto;">
                      <tr><td class="first_td">&nbsp;</td></tr>
                      <tr><td class="first_td">Date</td><td>: {{date}}</td></tr>
                      <tr><td class="first_td">Job No</td><td>: J2567</td></tr>
                      <tr><td class="first_td">&nbsp;</td></tr>
                      <tr><td class="first_td">&nbsp;</td></tr>
                    </table>
                  </td>
                </tr>
              </tbody>
              
            </table>
            <hr size="2" style="color: black;background: black;margin-bottom: 2px;">
            <hr size="2" style="color: black;background: black;margin-top: 2px;">
            <table style="width:100%">
              <colgroup>
                <col span="1" style="width: 5%;">
                <col span="1" style="width: 45%;">
                <col span="1" style="width: 10%;">
                <col span="1" style="width: 20%;">
                <col span="1" style="width: 20%;">
              </colgroup>
              <thead>
                <tr><td>Items</td><td></td><td>Qty</td><td class="item_value">Unit Rate</td><td class="item_value">Amount (HK$)</td></tr>
              </thead>
              <tbody>
                <!-- 前期項目 -->
                <tr><th class="item_index">1</th><th class="underline item_name">前期項目</th></tr>
                <tr><td class="item_index">1.1</td><td class="item_name">第三者保險</td><td  class="item_value">1 job</td><td class="item_value">2500</td><td class="item_value">2,500</td></tr>
                <tr><td class="item_index">1.2</td><td class="item_name"><span style="white-space: pre-line">全屋清拆泥頭,舊有傢俬,門連門框
                清走全屋所有傢俱,原有房間格及雜物清走以上列出的項目及雜物/工程中廢料/泥頭
                註：以上費用已包括政府收取之泥頭費用</span></td><td  class="item_value">1 job</td><td class="item_value">2500</td><td class="item_value">2,500</td></tr>
                <tr style=""><td colspan="3"></td><td colspan="2"><div style="border-top:1px solid;border-bottom:1px solid;width: 70%;margin-right: 0;margin-left: auto;"><table style="width:100%;"><tr><td>Sub Total: </td><td style="text-align: right;">5,000</td></tr></table></div><div style="margin-top:2px;border-top:1px solid;width: 70%;margin-right: 0;margin-left: auto;"></div></td></tr>
                <tr><td>&nbsp;</td></tr>
                <!-- 泥水及磚牆項目 -->
                <tr><th class="item_index">2</th><th class="underline item_name">泥水及磚牆項目</th></tr>
                <tr><td class="item_index">2.1</td><td class="item_name">第三者保險</td><td  class="item_value">1 job</td><td class="item_value">2500</td><td class="item_value">2,500</td></tr>
                <tr><td class="item_index">2.2</td><td class="item_name"><span style="white-space: pre-line">全屋清拆泥頭,舊有傢俬,門連門框
                清走全屋所有傢俱,原有房間格及雜物清走以上列出的項目及雜物/工程中廢料/泥頭
                註：以上費用已包括政府收取之泥頭費用</span></td><td  class="item_value">1 job</td><td class="item_value">2500</td><td class="item_value">2,500</td></tr>
                <tr style=""><td colspan="3"></td><td colspan="2"><div style="border-top:1px solid;border-bottom:1px solid;width: 70%;margin-right: 0;margin-left: auto;"><table style="width:100%;"><tr><td>Sub Total: </td><td style="text-align: right;">5,000</td></tr></table></div><div style="margin-top:2px;border-top:1px solid;width: 70%;margin-right: 0;margin-left: auto;"></div></td></tr>
                <tr><td>&nbsp;</td></tr>
                <!-- 油漆項目 -->
                <tr><th class="item_index">2</th><th class="underline item_name">油漆項目</th></tr>
                <tr><td class="item_index">2.1</td><td class="item_name">第三者保險</td><td  class="item_value">1 job</td><td class="item_value">2500</td><td class="item_value">2,500</td></tr>
                <tr><td class="item_index">2.2</td><td class="item_name"><span style="white-space: pre-line">全屋清拆泥頭,舊有傢俬,門連門框
                清走全屋所有傢俱,原有房間格及雜物清走以上列出的項目及雜物/工程中廢料/泥頭
                註：以上費用已包括政府收取之泥頭費用</span></td><td  class="item_value">1 job</td><td class="item_value">2500</td><td class="item_value">2,500</td></tr>
                <tr><td class="item_index">2.1</td><td class="item_name">第三者保險</td><td  class="item_value">1 job</td>
                <tr style=""><td colspan="3"></td><td colspan="2"><div style="border-top:1px solid;border-bottom:1px solid;width: 70%;margin-right: 0;margin-left: auto;"><table style="width:100%;"><tr><td>Sub Total: </td><td style="text-align: right;">7,500</td></tr></table></div><div style="margin-top:2px;border-top:1px solid;width: 70%;margin-right: 0;margin-left: auto;"></div></td></tr>
                <tr><td>&nbsp;</td></tr>
                <tr><td>&nbsp;</td></tr>
                <!-- Total -->
                <tr style=""><td colspan="3" style="padding-left: 25%;">1.)前期項目</td><td colspan="2"><div style="width: 70%;margin-right: 0;margin-left: auto;"><table style="width:100%;"><tr><td style="text-align: right;">5,000</td></tr></table></div></td></tr>
                <tr style=""><td colspan="3" style="padding-left: 25%;">2.)泥水及磚牆項目</td><td colspan="2"><div style="width: 70%;margin-right: 0;margin-left: auto;"><table style="width:100%;"><tr><td style="text-align: right;">5,000</td></tr></table></div></td></tr>
                <tr style=""><td colspan="3" style="padding-left: 25%;">3.)油漆項目</td><td colspan="2"><div style="width: 70%;margin-right: 0;margin-left: auto;"><table style="width:100%;"><tr><td style="text-align: right;">7,500</td></tr></table></div></td></tr>
                <tr style=""><td colspan="3"></td><td colspan="2"><div style="border-top:1px solid;border-bottom:1px solid;width: 70%;margin-right: 0;margin-left: auto;"><table style="width:100%;"><tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Total: </td><td style="text-align: right;">17,500</td></tr></table></div><div style="margin-top:2px;border-top:1px solid;width: 70%;margin-right: 0;margin-left: auto;"></div></td></tr>
              </tbody>
            </table>
            <br>
            <div>
              <span style="white-space: pre-line;">
                備註:
                註1工程進行期間,客人不可存放任何私人物品,傢俱,電器等於工程地盤內,如有任何損壞或遺失,本公司一概不負責!
                註2:以上工程價目已包現場傢俬收口
                註3:廚櫃用實木夾板料,外用$200件富美家/西德防火膠板 所有掩門較用台灣緩沖油壓較,柜桶用三節路軌
                註4: 木器傢俬用實木夾板料, 外用木皮面料. 內籠用白膠板
                註5: 所有全高身木器傢俬到天花
                註6: 完工後有一年的維修保養責任,不包人為損壞,樓宇結構問題
                註7:所有木器傢俱包出施工圖及3D效果圖
                註8:所有雲石包$80/sq/ft 之價格雲石
                註9:3D效果圖的傢俱,燈飾不能作交貨標準,只供參巧之用
                註10:所有木器傢俬不包燈飾配件(如LED燈帶,射燈等), 如需燈飾則要額外報價
                註11: 以下材料會由戶住提供:**廚房,厠所牆身及地下磁磚**厠所坐厠,洗手盆,五金,潔具**廚房鋅盆,硬件,五金**全屋燈飾(除廚、厠筒燈)
              </span>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div>
              <span style="white-space: pre-line;">
                施工期:
                60工作天
              </span>
            </div>
            <br>
            <table style="width: 100%">
              <colgroup>
                <col span="1" style="width: 20%;">
                <col span="1" style="width: 10%;">
                <col span="1" style="width: 70%;">
              </colgroup>
              <tbody>
                <tr><td>Payment Terms:</td></tr>
                <tr><td>1st payment</td><td class="item_value" style="padding-right: 20px">10%</td><td>(報價單簽署確定及) deposit paid upon signing the quotation.</td></tr>
                <tr><td>2nd payment</td><td class="item_value" style="padding-right: 20px">20%</td><td>(施工前付) to be paid before starting.</td></tr>
                <tr><td>3rd payment</td><td class="item_value" style="padding-right: 20px">20%</td><td>(完成水電日付) to be paid after drainage and electrical work</td></tr>
                <tr><td>4th payment</td><td class="item_value" style="padding-right: 20px">40%</td><td>(傢俬日付) to be paid on after furniture ordering</td></tr>
                <tr><td>5th payment</td><td class="item_value" style="padding-right: 20px">5%</td><td>(完工日付) to be paid on after job handover.</td></tr>
                <tr><td>6th payment</td><td class="item_value" style="padding-right: 20px">5%</td><td>(完工30日付) to be paid on after job handover 30 celendar day.</td></tr>
              </tbody>
            </table>
            <div>
              <span style="white-space: pre-line;">
                此報價有效期為一個月
              </span>
            </div>
            <br>
            <br>
            <div>
              <table style="width: 100%;">
                <colgroup>
                  <col span="1" style="width: 60%;">
                  <col span="1" style="width: 40%;">
                </colgroup>
                <tbody>
                  <tr>
                    <td>
                      <span style="white-space: pre-line;font-weight: bold;">
                        For and on behalf of
                        {{ company.name }}
                      </span>
                    </td>
                    <td>
                      <span style="white-space: pre-line;font-weight: bold;">
                        Confirmed and accepted by
                      </span>
                    </td>
                  </tr>
                  <tr style="height:150px; vertical-align: bottom;">
                    <td>
                      {% if company.logo_pic %}
                          {% thumbnail company.logo_pic "125x125" as im %}
                          <img src="\app/{{ im.url }}">
                          {% endthumbnail %}
                      {% endif %}
                    </td>
                    <td>
                      
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div style="width:46.47%;border-top:1px solid;text-align: right;">公司負責人簽署及蓋章</div>
                    </td>
                    <td>
                      <div style="width:70%;border-top:1px solid;">客戶簽署</div>
                    </td>
                  </tr>
                  <tr><td>公司名稱: {{ company.name }}</td><td>客戶姓名: </td></tr>
                  <tr><td>公司負責人: {{ company.owner.name }}</td><td>日期: </td></tr>
                </tbody>
              </table>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</body>
<style>
/* Styles go here */

.page {
  page-break-after: always;
}

tr{
  vertical-align: text-top;
}

 thead{
  font-weight: bold; text-decoration:underline;
 }

 th{
  font-weight: bold;
 }

.first_td{
  padding-right: 50px;
}
.underline{
  text-decoration:underline;
}
.item_name{
  text-align: left;
}
.item_index{
  text-align: center;
}
.item_value{
  text-align: right;
}
@page {
  margin: 20mm
}

@media print {
   thead {display: table-header-group;} 
   tfoot {display: table-footer-group;}
   
   button {display: none;}
   
   body {margin: 0;}
}
</style>
</html>