{% load staticfiles %}
{% load thumbnail %}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
</head>
<body style="
    font-family: Microsoft JhengHei;
">

  <table style="width:100%">

    <thead>
      <tr>
        <td>
          <!--place holder for the fixed-position header-->
          <div class="page-header-space"></div>
        </td>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <!--*** CONTENT GOES HERE ***-->
          <div style="margin: 0 0.05in;"> 
            <table style="width:100%">
              <tbody>
                <tr style="vertical-align: text-top;">
                  <td>
                    <table style="margin-left: 0; margin-right: auto;">
                    <tr> <td class="first_td">No.</td><td>{{receipt_no}}</td></tr>
                    <tr><td class="first_td">Co</td><td>: {% if project.customer.company_name %}{{project.customer.company_name}}{% endif %}</td></tr>
                    <tr><td class="first_td">To</td><td>: {{project.customer.name}}</td></tr>
                    <tr><td class="first_td">Tel</td><td>: {% if project.customer.phone %}{{project.customer.phone}}{% endif %}</td></tr>
                    <tr><td class="first_td">From</td><td>: {{company.owner.display_name}}</td></tr>
                    <tr><td class="first_td">Ref</td><td>: 工程地點<br>: {% if project.work_location %}{{project.work_location}},&nbsp;{% endif %}{{project.get_district_display}}</td></tr>
                    </table>
                  </td>
                  <td>
                    <table style="margin-right: 0; margin-left: auto;">
                      <tr><td class="first_td">&nbsp;</td></tr>
                      <tr><td class="first_td">Date</td><td>: {{date}}</td></tr>
                      <tr><td class="first_td">Job No</td><td id="job_no_content">{{job_no}}</td></tr>
                      <tr><td class="first_td">&nbsp;</td></tr>
                      <tr><td class="first_td">&nbsp;</td></tr>
                      <tr><td class="first_td">&nbsp;</td></tr>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <table class="lrborder" style="width:100%;">
              <colgroup>
                <col span="1" style="width: 10%;">
                <col span="1" style="width: 60%;">
                <col span="1" style="width: 30%;">
              </colgroup>
              <thead>
                <tr><td class="allborder">Date</td><td style="border-top: 3px solid;">Description</td><td class="item_value" style="border-top: 3px solid;">Amount (HK$)</td></tr>
              </thead>
              <tbody>
                <tr><td></td><td class="item_name">Total Contract Sum</td><td class="item_value" id="amount_content"></td></tr>

                <tr><td class="first_td">&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                <tr><td>{{invoice_date}}</td><td class="item_name" id="charging_stage_content"></td><td class="item_value" id="stage_amount_content"></td></tr>
                <tr><td class="first_td">&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                <tr><td class="first_td" style="border-bottom: 3px solid">&nbsp;</td><td style="border-bottom: 3px solid;padding-bottom: 50px"><span style="white-space: pre-line;" id="general_remarks_content"></span></td><td style="border-bottom: 3px solid">&nbsp;</td></tr>
                <tr><td class="noborder"></td><td class="noborder"></td><td style="border-bottom: 3px solid"><div style="width: 70%;margin-right: 0;margin-left: auto;"><table style="width:100%;"><tr><td style="border-left: none;border-right:none;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Total: </td><td style="text-align: right;border-left: none;border-right:none;" id="stage_total_amount_content"></td></tr></table></div><div style="margin-top:2px;width: 70%;margin-right: 0;margin-left: auto;"></div></td></tr>
              </tbody>
            </table>
            <br>

            <br>
            <br>
            <div style="page-break-inside: avoid !important;">
              <table style="width: 100%;">
                <colgroup>
                  <col span="1" style="width: 60%;">
                  <col span="1" style="width: 40%;">
                </colgroup>
                <tbody>
                  <tr>
                    <td>
                    </td>
                    <td>
                      <span style="white-space: pre-line;font-weight: bold;">
                        For and on behalf of
                        {{ company.name }}
                      </span>
                    </td>
                  </tr>
                  <tr style="height:150px; vertical-align: bottom;">
                    <td>
                      
                    </td>
                    <td>
                      {% if company.sign %}
                          {% thumbnail company.sign "125x125" format="PNG" as im %}
                          <img src="\app/{{ im.url }}">
                          {% endthumbnail %}
                      {% endif %}
                    </td>
                    
                  </tr>
                  <tr>
                    <td>
                    </td>
                    <td>
                      <div style="width:46.47%;border-top:1px solid;text-align: left;">Authorized Signature</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</body>
<script>
  function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
  }

  function getGetOrdinal (n) {
    var s=["th","st","nd","rd"],
      v=n%100;
    return n+(s[(v-20)%10]||s[v]||s[0]);
  }

  function prependZero(digit,number) { 
    var str="";
    for(var i=0;i<digit-number.toString().length;i++){
      str+="0";
    }
    str+=number.toString();
    return str;
  }

  (function(){
    var charging_stage_content="";
    var remarks_content="";
    var amount_content=numberWithCommas({{amount}});
    var stage_amount_content=numberWithCommas({{amount}}*{{charging_stage.value}}/100);
    //var job_no_content=": J"+prependZero(4,{{project.job_no}});
    var general_remarks_content="";

    charging_stage_content+=getGetOrdinal({{charging_stage_id}})+" ({{charging_stage.value}}%) Payment for {{charging_stage.description}}";

    general_remarks_content+="Remarks:\n";

    {% for general_remark in general_remarks %}

      general_remarks_content+="{{general_remark.content}}\n\n";

    {% endfor %}

    //document.getElementById("job_no_content").innerHTML=job_no_content;
    document.getElementById("amount_content").innerHTML=amount_content;
    document.getElementById("stage_amount_content").innerHTML=stage_amount_content;
    document.getElementById("stage_total_amount_content").innerHTML=stage_amount_content;
    document.getElementById("charging_stage_content").innerHTML=charging_stage_content;
    document.getElementById("general_remarks_content").innerHTML=general_remarks_content;
    if(general_remarks_content!="Remarks:\n"){
      document.getElementById("general_remarks_content").setAttribute("style","page-break-before: always;!important")
    }
  })();
</script>
<style>
/* Styles go here */

.page {
  page-break-after: always;
}
table {
  border-collapse: collapse;
}
td{
  border-collapse: collapse;
}

tr{
  vertical-align: text-top;
}

 thead{
  font-weight: bold; 
 }

 th{
  font-weight: bold;
  border-collapse: collapse;
 }

 .allborder{
  border: 3px solid;
 }

 .lrborder td{
   border-left: 3px solid;
   border-right: 3px solid;
 }

 .noborder{
  border:none!Important;
 }


.first_td{
  padding-right: 50px;
}
.underline{
  text-decoration:underline;
}
.item_name{
  text-align: left;
}
.item_index{
  text-align: center;
}
.item_value{
  text-align: right;
}
@page {
  margin: 20mm
}

@media print {
   thead {display: table-header-group;} 
   tfoot {display: table-footer-group;}
   
   button {display: none;}
   
   body {margin: 0;}
}
</style>
</html>