{% extends 'sales/base.html' %}
{% load staticfiles %}
{% block breadcrumb %}
{% block extralinks %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css"
  href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/start/jquery-ui.css" />
{% endblock %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'companies:list' %}">Companies</a></li>
    <li class="breadcrumb-item active">{% if company_obj %}Edit{% else %}Create{% endif %}</li>
  </ol>
</nav>
{% endblock %}
{% block content %}
<form id="formid" action='' method="POST" novalidate enctype="multipart/form-data">
  <div class="overview_form_block row marl justify-content-center">
    <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          <div class="card-title text-center">
            {% if company_obj %}EDIT{% else %}CREATE{% endif %} COMPANY
          </div>
          <div class="row marl">
            <div class="col-md-4">
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="required">Name{% if company_form.name.field.required %}<span
                      class="error_marker" style="color:red">*</span>{% endif %}</label>
                  {{ company_form.name }}
                  <span class="error" id="id__name">{{ company_form.name.errors }}</span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="required">Owner{% if company_form.owner.field.required %}<span
                      class="error_marker" style="color:red">*</span>{% endif %}</label>
                  {{ company_form.owner }}
                  <span class="error" id="id__owner">{{ company_form.owner.errors }}</span>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="required">BR Approved{% if company_form.br_approved.field.required %}<span
                      class="error_marker" style="color:red">*</span>{% endif %}</label>
                  {{ company_form.br_approved }}
                  <span class="error" id="id__br_approved">{{ company_form.br_approved.errors }}</span>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="required">Is Active{% if company_form.is_active.field.required %}<span
                      class="error_marker" style="color:red">*</span>{% endif %}</label>
                  {{ company_form.is_active }}
                  <span class="error" id="id__is_active">{{ company_form.is_active.errors }}</span>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="required">Logo{% if company_form.logo_pic.field.required %}<span
                      class="error_marker" style="color:red">*</span>{% endif %}</label>
                  {{ company_form.logo_pic }}
                  <span class="error" id="id__logo_pic">{{ company_form.logo_pic.errors }}</span>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="required">BR{% if company_form.br_pic.field.required %}<span
                      class="error_marker" style="color:red">*</span>{% endif %}</label>
                  {{ company_form.br_pic }}
                  <span class="error" id="id__br_pic">{{ company_form.br_pic.errors }}</span>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="row marl buttons_row form_btn_row text-center">
                <button class="btn btn-default save" type="submit" id="call_save">Save</button>
                <a href="{% url 'companies:list' %}" class="btn btn-default clear" id="create_user_cancel">Cancel</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <input type="hidden" id="save_new_form" name="savenewform">
  </div>
  <!-- overview ends here -->
</form>
{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
{% block js_block %}
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.js"></script>
<script src="https://malsup.github.io/jquery.form.js"></script>
<script type="text/javascript">

  // $(document).ready(function() {
  //   $('.assigned_users').select2();
  // });
  $(document).ready(function () {

  });

  $(".savenew").on('click', function (e) {
    e.preventDefault()
    $("#save_new_form").val('true')
    $('#formid').submit()
  });


  $(function () {


  });




  $('form#formid').ajaxForm({
    type: 'POST',
    dataType: 'json',
    url: ".",
    data: $('#formid').serialize(),
    success: function (data) {
      if (data.error) {
        $('.error').html('')
        for (var key in data.errors) {
          $('#id__' + key).html("<p>" + data.errors[key][0] + "</p>");
        };
        $('#submit_btn').removeAttr('disabled')
      }
      else {
        window.location = data.success_url;
      }
    }
  });

  $('#multiple').change(function () {
    var $value = $('option:selected', this).attr('type');
    console.log($value);
  });


  $("#id_teams").change(function (e) {
    try {
      var users = []
      $('#id_teams option:selected').each(function () {
        // users.push($(this).attr('data-users'))
        _data = $(this).attr('data-users');
        if (!users) {
          // users = []
        } else {
          users = users.concat(_data.split(','))
        }
      })
      // users = $('option:selected', this).attr('data-users')
      // if (!users) {
      //   users = []
      // } else {
      //   users = users.split(',')
      // }
      console.log('selected users teams data', users)
      var existingUsers = $('#id_assigned_to').val();
      var allUsers = users.concat(existingUsers)
      console.log(existingUsers)
      if (users.length) {
        $('#id_assigned_to').select2().val(allUsers).trigger('change');

      }
    } catch (error) {
      console.log(error)
      $('#id_assigned_to').select2().val(existingUsers).trigger('change');
    }

  });
  // $('#call_save').click(function (e) {
  //   e.preventDefault()
  //   console.log($('#formid').serialize())
  //   console.log($('#formid').serializeArray())

  // })
</script>
{% endblock js_block %}